nav {
    width: 98%;
    text-align: left;

    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
nav a {
    margin-left: 10px;
}

table {
    width: 99%;
    border-collapse: collapse;
}

thead {
    border-top: 2px solid rgba(10, 10, 10, 20%);
    border-bottom: 2px solid rgba(10, 10, 10, 20%);
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 5%);
}

td {
    padding: 3px;
}
th {
    padding: 3px;
}

.nameCell {
    width: 25%;
}

.underlined {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .revCell {
        display: none;
    }

    .dateCell {
        display: none;
    }

    nav a {
        margin-left: 0;
    }
}

@media only screen and (min-width: 800px) {
    .phoneBR {
        display: none;
    }

}