table {
    width: 100%;
}

tr:hover {
    background-color: rgba(255, 10, 10, 10%);
}

td {
    padding: 5px;
}

.leftCell {
    text-align: left;
}

.centerCell {
    text-align: center;
}

.rightCell {
    text-align: right;
}