{% extends "grottadelbeholder/index.html" %}
{% load static %}

{% block title %}Create{% endblock %}

{% block scripts %}
    <script src="{% static 'grottadelbeholder/scripts/createContentForm.js' %}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "grottadelbeholder/styles/index.css" %}">
    <link rel="stylesheet" href="{% static "grottadelbeholder/styles/create.css" %}">
{% endblock %}

{% block pageContent %}
    <div id="content">

        <form action="{% url 'grottadelbeholder:addContent' %}" method="post" id="contentForm" name="form">
            {% csrf_token %}
            <table>
                <caption>Informazioni generali</caption>
                <tr>
                    <td colspan="2">
                        {{ contentForm.name.label }}
                        {{ contentForm.name }}
                    </td>
                    <td colspan="2">
                        {{ contentForm.category.label }}
                        {{ contentForm.category }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        {{ contentForm.description.label }}
                        <br>
                        {{ contentForm.description }}
                    </td>
                </tr>
            </table>

            <div id = "categoryForms">
                <!--Todo sistemare layout per ogni form-->
                <div id = "classForm">
                    <table>
                        <caption>Punti Vita</caption>
                        <tr>
                            <td colspan="2">
                                {{ classForm.hitPointsLevel1.label }}
                                {{ classForm.hitPointsLevel1 }}
                            </td>
                            <td colspan="2">
                                {{ classForm.hitPointsAboveLv1.label }}
                                {{ classForm.hitPointsAboveLv1 }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {{ classForm.hitDiceType.label }}
                                {{ classForm.hitDiceType }}
                            </td>
                        </tr>
                    </table>
                    <table>
                        <caption>Competenze</caption>
                        <tr>
                            <td colspan="2">
                                {{ classForm.armorProficiency.label }}
                                {{ classForm.armorProficiency }}
                            </td>
                            <td colspan="2">
                                {{ classForm.shieldProficiency.label }}
                                {{ classForm.shieldProficiency }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {{ classForm.weaponProficiency.label }}
                                {{ classForm.weaponProficiency }}
                            </td>
                            <td colspan="2">
                                {{ classForm.toolProficiency.label }}
                                {{ classForm.toolProficiency }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {{ classForm.savingThrows.label }}
                                {{ classForm.savingThrows }}
                            </td>
                            <td colspan="2">
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div id = "raceForm">{{ raceForm }}</div>
                <div id = "monsterForm">{{ monsterForm }}</div>
                <div id = "spellForm">{{ spellForm }}</div>
            </div>

            <!--Todo impostare sistema di controlli e invio form alla pressione del bottone-->
            <div id="sendButtonDiv">
                <button>Crea Contenuto</button>
            </div>
        </form>
    </div>
{% endblock %}