{% extends "grottadelbeholder/index.html" %}
{% load static %}

{% block title %}Create{% endblock %}

{% block scripts %}
    <script src="{% static 'grottadelbeholder/scripts/createContentForm.js' %}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "grottadelbeholder/styles/index.css" %}">
    <link rel="stylesheet" href="{% static "grottadelbeholder/styles/create.css" %}">
{% endblock %}

{% block pageContent %}
    <div id="content">

        <form action="{% url 'grottadelbeholder:addContent' %}" method="post" id="contentForm" name="form">
            {% csrf_token %}
            {{ contentForm.as_table }}

            <div id = "categoryForms">
                <!--Todo sistemare layout per ogni form-->
                <div id = "classForm">{{ classForm }}</div>
                <div id = "raceForm">{{ raceForm }}</div>
                <div id = "monsterForm">{{ monsterForm }}</div>
                <div id = "spellForm">{{ spellForm }}</div>
            </div>

            <!--Todo impostare sistema di controlli e invio form alla pressione del bottone-->
            <button>Crea Contenuto</button>
        </form>
    </div>
{% endblock %}