{% extends 'grottadelbeholder/index.html' %}

{% block title %}Data transfer{% endblock %}

{% block pageContent %}
    {% if adminType %}
        <!-- TODO Inserire possibilità a seconda del tipo di admin -->
        {% if adminType == '' or adminType == '' %}
        {% endif %}
        {% if adminType == 'DM' %}
            <form action="{% url "grottadelbeholder:datatransfer" %}?backup=1" method="get">
                {% csrf_token %}
                <input type="hidden" name="backup" value="1">
                <input type="submit" value="SCARICA BACKUP">
            </form>
            <br>
            <form enctype="multipart/form-data" id="dataTransferForm" action="{% url 'grottadelbeholder:datatransfer' %}" method="post">
                {% csrf_token %}
                <input type="file" name="data" id="inputFile" accept="application/json" required><br>
                <input type="submit" value="CARICA BACKUP">
            </form>
        {% endif %}
    {% else %}
        Reindirizzamento alla pagina principale, se non si viene reindirizzati entro pochi secondi premere
        <u><a href="{% url 'grottadelbeholder:index' %}">qui</a></u>.
        <script>
            window.alert("Non puoi accedere a quest'area senza i permessi");
            window.location = '{% url "grottadelbeholder:index" %}';
        </script>
    {% endif %}
{% endblock %}