{% extends 'grottadelbeholder/index.html' %}

{% block title %}Data transfer{% endblock %}

{% block pageContent %}
    {% if adminType %}
        <form action="{% url 'grottadelbeholder:datatransfer' %}" method="post">
            {% csrf_token %}
            <input type="file" name="inFile" id="inputFile" accept="application/json" required>
            <button onclick="sendData()"></button>
        </form>
    {% else %}
        <script>
            window.alert("Non puoi accedere a quest'area senza i permessi");
            window.location = '{% url "grottadelbeholder:index" %}';
        </script>
    {% endif %}
{% endblock %}