{% extends "grottadelbeholder/base.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static "grottadelbeholder/styles/index.css" %}">
    <link rel="stylesheet" href="{% static "grottadelbeholder/styles/contentList.css" %}">
{% endblock %}

{% block scripts %}
    <script src="{% static "grottadelbeholder/scripts/indexDetail.js" %}"></script>
{% endblock %}

{% block pageContent %}
    {% if filter %}
        <nav>
            Categorie:  <br class="phoneBR">
            <a href="{% url "grottadelbeholder:index" %}?filter={{ filterAll }}"
            {% if filter == filterAll %} class="underlined" {% endif %}>Tutto</a>,
            <a href="{% url "grottadelbeholder:index" %}?filter={{ filterRaces }}"
            {% if filter == filterRaces %} class="underlined" {% endif %}>Razze</a>,
            <a href="{% url "grottadelbeholder:index" %}?filter={{ filterClasses }}"
            {% if filter == filterClasses %} class="underlined" {% endif %}>Classi</a>,
            <a href="{% url "grottadelbeholder:index" %}?filter={{ filterMonsters }}"
            {% if filter == filterMonsters %} class="underlined" {% endif %}>Mostri</a>,
            <a href="{% url "grottadelbeholder:index" %}?filter={{ filterSpells }}"
            {% if filter == filterSpells %} class="underlined" {% endif %}>Incantesimi</a>
        </nav>

        <table id="contentList">
            <thead>
                <tr>
                    <th class="nameCell">Nome</th>
                    <th class="categoryCell">Categoria</th>
                    <th class="revCell">Revisione</th>
                    <th class="userCell">Creatore</th>
                    <th class="dateCell">Data creazione</th>
                </tr>
            </thead>
            <tbody>
                {% for item in contentList %}
                    <tr onclick="getDetail('{% url "grottadelbeholder:index" %}?detail={{ item.id }}&filter={{ filter }}&page={{ page }}');">
                        <td class="nameCell">{{ item.name }}</td>
                        <td class="categoryCell">{{ item.category }}</td>
                        <td class="revCell">{{ item.rev }}</td>
                        <td class="userCell">{{ item.user }}</td>
                        <td class="dateCell">{{ item.pub_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <div id="pageIndicator">
            Pagina:
            {% if prevPage %}
                <a href="{% url "grottadelbeholder:index" %}?filter={{ filter }}&page={{ prevPage }}">&lt;</a>
            {% endif %}
            {{ page }} / {{ npages }}
            {% if nextPage %}
                <a href="{% url "grottadelbeholder:index" %}?filter={{ filter }}&page={{ nextPage }}">&gt;</a>
            {% endif %}
        </div>

    {% else %}
        <div id = "sectionText">
            SEZIONI
        </div>
        <a href="{% url "grottadelbeholder:index" %}?filter={{ filterAll }}"><button id="all-button">TUTTO</button><br></a>
        <a href="{% url "grottadelbeholder:index" %}?filter={{ filterRaces }}"><button class="contentButton">RAZZE</button></a>
        <a href="{% url "grottadelbeholder:index" %}?filter={{ filterClasses }}"><button class="contentButton">CLASSI</button><br></a>
        <a href="{% url "grottadelbeholder:index" %}?filter={{ filterMonsters }}"><button class="contentButton">MOSTRI</button></a>
        <a href="{% url "grottadelbeholder:index" %}?filter={{ filterSpells }}"><button class="contentButton">INCANTESIMI</button></a>
    {% endif %}
{% endblock %}