{% extends "grottadelbeholder/base.html" %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static "grottadelbeholder/styles/index.css" %}">
    <link rel="stylesheet" href="{% static "grottadelbeholder/styles/info.css" %}">
{% endblock %}

{% block title %}Info{% endblock %}

{% block pageContent %}
    La grotta del Beholder è un sito creato da me (Sandonini Mirco) come progetto per il corso Internet, Web e Cloud
    dell'Università di Modena e Reggio Emilia.<br>
    <br>
    Per la realizzazione del progetto ci era stato chiesto di produrre un sito da hostare su un server Python tramite
    l'utilizzo del framework Django.<br>
    Per realizzare il sito ho utilizzato HTML, CSS, e JavaScript puri, in quanto essendo più abituato a utilizzarli mi
    sento più a mio agio per la progettazione grafica dei siti senza l'utilizzo di framework come Bootstrap o simili.<br>
    <br>
    L'idea del sito da realizzare è nata dalla mia passione per i vari giochi di ruolo, sia videoludici (come le serie
    di Final Fantasy e Golden Sun), che da tavolo (come Dungeons & Dragons e 7th Sea).<br>
    Partendo da questa mia passione ho pensato di creare un sito dedicato totalmente alla condivisione di contenuti
    per Dungeons & Dragons di origine homebrew (contenuti non ufficiali ma prodotti dai giocatori per essere utilizzati
    nelle proprie sessioni di gioco come si preferisce).<br>
    Il nome del sito è stato deciso prendendo come spunto il Beholder, la creatura resa quasi icona del gioco che si
    può vedere sullo sfondo del sito.

{% endblock %}