{% extends "grottadelbeholder/base.html" %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static "grottadelbeholder/styles/index.css" %}">
    <link rel="stylesheet" href="{% static "grottadelbeholder/styles/info.css" %}">
{% endblock %}

{% block title %}Info{% endblock %}

{% block pageContent %}
    <h2>Informazioni sul sito</h2>
    <i>La Grotta del Beholder</i> è un sito creato allo scopo di condividere contenuti per il gioco di ruolo
    Dungeons &amp; Dragons di origine homebrew (creati dai giocatori).<br>
    Il nome del sito è stato deciso prendendo come spunto il Beholder, iconica creatura del gioco.
    <hr>
    <h2>Realizzazione del sito</h2>
    Il sito è stato realizzato da me (Sandonini Mirco) come progetto universitario per il corso <i>Internet,
    Web e Cloud</i>, ed è realizzato tramite l'utilizzo di pagine HTML con CSS e JavaScript, il tutto hostato
    su un server Django scritto in Python.<br>
    Vorrei ringraziare il mio compagno di corso Edoardo Torrini per il supporto riguardante alcune funzioni
    particolari di django.
    <hr>
    <h2>Informazioni di contatto</h2>
    Amministratore del sito: Sandonini Mirco <br>
    &emsp;288914@studenti.unimore.it <br>
    &emsp;mirco.ms16@gmail.com
{% endblock %}