{% extends "grottadelbeholder/index.html" %}

{% block title %}User{% endblock %}

{% block pageContent %}
    {% if adminType %}

    {% endif %}
    <!--TODO Opzione per visualizzare i propri contenuti-->
    <!--TODO Opzione per cambiare password-->
    <hr>
    <form action="{% url 'grottadelbeholder:user' %}" method="post">
        <label for="newPassword">Nuova password: </label>
        <input type="password" name="password" id="newPassword" onchange="checkPwd()">
        <input type="submit" value="Cambia password">
    </form>
{% endblock %}