{% extends "grottadelbeholder/index.html" %}

{% block title %}User{% endblock %}

{% block pageContent %}
    <hr>
    <form action="{% url 'grottadelbeholder:user' %}" method="post">
        <label for="newPassword">Nuova password: </label>
        <input type="password" name="newPassword" id="newPassword" onchange="checkPwd()">
        <input type="submit" value="Cambia password" id="submitNewPwd">
    </form>

    <br>

    <!-- Todo aggiungere cose -->

    Vuoi vedere i tuoi contenuti? <u><a href="{% url "grottadelbeholder:usercontent" %}">Clicca qui!</a></u>
{% endblock %}